version: '3.7'
services:
  db:
    container_name: mongodb
    image: gabrielgdsg/myrepo:mongodb
#    image: mongo:latest
    env_file:
      - prod.env
#      - develop_docker.env
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongodb-volume:/data/db
  backend:
    container_name: backendcontainer
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    image: gabrielgdsg/myrepo:backend
    restart: always
#    command: uvicorn main:app --host 0.0.0.0 --port 80 --reload  # comment out this line for production
#    volumes:
#      - './backend/app:/app'
    ports:
      - "80:80"
    env_file:
      - prod.env
#      - develop_docker.env
    depends_on:
      - db
  frontend:
    container_name: frontendcontainer
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
      target: 'production-stage'
#      target: 'develop-stage'
    image: gabrielgdsg/myrepo:frontend
    restart: always
    ports:
        - '8080:8080'
#    volumes:
#        - './frontend:/app'
    env_file:
      - prod.env
#      - develop_docker.env
    environment:
      - CHOKIDAR_USEPOLLING=true
volumes:
    mongodb-volume:

